/* MAIN */
.main {
    width: 90%;

    padding: 0;
    margin: 0 auto;

    z-index: 0;
}

.main 
.seccion-main {
    width: 95%;

    display: block;
    margin: 0 auto;
    padding: 1.5rem 0;

    /* Añade un efecto de aparición de la sección */
    /* opacity: 0; */
    /* transition: opacity 1s ease-in; */

    /* como el header es demasiado alto */
    /* la sección queda tapada por él */
    /* esta es una solución que ayuda a 
    /* que la sección quede más abajo */
    scroll-margin-top: 15rem;
}

.seccion-main.mostrar {
    opacity: 1;
}

/*
    SECCIONES DEL MAIN
*/
.contenedor-titulo-seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
}

.contenedor-titulo-seccion h4 {
    color: var(--color-primario);
}

.contenedor-titulo-seccion 
.nav-link {
    text-decoration: none;

    cursor: pointer;

    font-weight: var(--grosor-subencabezados);
    color: var(--color-quintenario);

    transition: all 0.3s ease-out;
}

.contenedor-titulo-seccion 
.nav-link:hover {
    text-decoration: underline;
    color: var(--color-quintenario);
}

.hr {
    position: relative;
    /* top: 0.5rem; */

    /* cambia el color */
    border: 0;
    border-top: 2px solid var(--color-primario);
}

.contenedor-botones-scroll {
    /* height: 25rem; */
    width: 100%;

    position: relative;
    padding: 0.5rem 0.25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-botones-scroll
.contenedor-boton
.boton-direccion {
    height: 2rem;
    width: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: transparent;
    border-radius: 50%;

    background-color: var(--color-quintenario);

    transition: all 0.3s ease-out;
}

.contenedor-botones-scroll
.contenedor-boton
.boton-direccion:hover {
    background-color: var(--color-primario);
}

.contenedor-botones-scroll
.boton-direccion
.imagen-icono {
    height: 1.5rem;
    width: 1.5rem;

    filter: invert(99%) sepia(2%) saturate(345%) hue-rotate(300deg) brightness(102%) contrast(98%);
}

.contenedor-botones-scroll
.contenedor-imagenes {
    position: relative;

    height: 100%;
    width: 94%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    gap: 4rem;

    /* personalizar scrollbar */
    scrollbar-color: var(--color-quintenario) var(--color-cuaternario);
    /* ayuda a que, en versiones móviles, se pueda deslizar con el dedo */
    scroll-snap-type: x mandatory;

    overflow: hidden;
    /* overflow-x: scroll; */
}

/*
    SECCIÓN DE RECOMENDACIONES:
*/
.seccion-recomendacion {
    height: auto;
    min-height: 25rem;
    /* max-height: 30rem; */
}

.seccion-recomendacion
.contenedor-botones-scroll
.contenedor-imagenes
.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

    padding: 0 0.25rem;

    scroll-snap-align: start;
}

.seccion-recomendacion
.contenedor-botones-scroll
.contenedor-imagenes
.card
.imagen {
    height: 20rem;
    width: 14rem;
}

.seccion-recomendacion
.contenedor-botones-scroll
.contenedor-imagenes
.card
.boton-adquirir {
    height: 2.75rem;
    width: 7rem;

    border-radius: 8px;
    border: none;

    cursor: pointer;

    color: var(--color-cuaternario);
    background-color: var(--color-primario);

    transition: all 0.5s;
}

.seccion-recomendacion
.contenedor-botones-scroll
.contenedor-imagenes
.card
.boton-adquirir:hover {
    outline: 1px solid var(--color-primario);

    color: var(--color-primario);
    background-color: transparent;
}
/*
    SECCIÓN DE RECOMENDACIONES:
    CONTENEDOR SCROLL CON BOTONES.FIN
*/
/*
    SECCIÓN DE AUTORES:
    CONTENEDOR SCROLL CON BOTONES
*/
.seccion-autor {
    height: auto;
    min-height: 25rem;
    width: 100%;
}

.seccion-autor
.contenedor-imagenes
.card {
    height: 20rem;
    min-width: 16rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    padding-top: 0.15rem;

    border-radius: 8px 8px 0 0;
    border: 3px solid transparent;

    transition: all 0.5s ease-out;

    background-color: var(--color-cuaternario);
}

.seccion-autor
.contenedor-imagenes
.card:hover {
    border-color: var(--color-primario);
}

.seccion-autor
.contenedor-imagenes
.card
.image-card {
    height: 15rem;
    width: 98%;

    border-radius: 8px;
}

.seccion-autor
.contenedor-imagenes
.card
.card-container {
    height: 2.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    padding-bottom: 0.25rem;

    background-color: var(--color-primario);
}

.seccion-autor
.contenedor-imagenes
.card
.card-container
.nav-link {
    cursor: pointer;
    color: var(--color-cuaternario);
}

.seccion-autor
.contenedor-imagenes
.card
.card-container
.nav-link:hover {
    text-decoration: underline;
}

/*
    SECCIÓN DE AUTORES:
    CONTENEDOR SCROLL CON BOTONES.FIN
*/
/*
    SECCIÓN GÉNEROS
*/
.seccion-genero {
    height: auto;
    width: 90%;

    position: relative;
}

.container-images {
    padding: 0.5rem;
}

.seccion-genero
.container-images-data {
    width: 100%;

    display: block;

    margin: 0;
    padding: 0;

    position: relative;

    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(min(100%, 9rem), 1fr));
    gap: 0.5rem;
    
}

.seccion-genero 
.container-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;

    list-style: none;
}

.seccion-genero
.circle {
    height: 9rem;
    width: 9rem;

    display: block;

    position: relative;
    margin: auto auto;

    overflow: hidden;
    
    border-radius: 50%;
}

.seccion-genero
.circle
.image {
    height: 9rem;
    width: 9rem;
}

.seccion-genero
.rectangle {
    height: 2rem;
    width: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 8px;
    /* border: 2px solid var(--color-quintenario); */
    box-shadow: 0 5px 10px rgba(43, 72, 187, 0.05), 0 15px 40px rgba(166,173,201,.2);
    background-color: var(--color-cuaternario);
}

.seccion-genero 
.container-dropdown {
    height: 2rem;
    min-width: 25%;
    max-width: 50%;

    position: relative;

    display: block;
    margin: 1rem auto;

    border-radius: 8px;

    background-color: var(--color-cuaternario);
    box-shadow: 0 5px 10px rgba(43, 72, 187, 0.05), 0 15px 40px rgba(166,173,201,.2);

    transition: all 0.2s ease-out;
}

.seccion-genero 
.container-dropdown:hover {
    box-shadow: 0 0 0;
}

.seccion-genero 
.container-label-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.seccion-genero
.container-list {
    height: 0;
    width: 100%;

    padding: 1rem 1rem 0 1rem;

    overflow: hidden;
    opacity: 0;

    border-radius: 8px;

    background-color: var(--color-cuaternario);
    box-shadow: 0 5px 10px rgba(43, 72, 187, 0.05), 0 15px 40px rgba(166,173,201,.2);

    transition: height 1s, opacity 1s;
}

.seccion-genero:has(input[type="checkbox"]:checked) 
.container-list{
    /* nota: el "forwards" ayuda a que se mantega y no vuelva pasado el tiempo */
    animation: slideDown 1s forwards;
}

.seccion-genero:not(:has(input[type="checkbox"]:checked)) .container-list {
    animation: slideUp 1s forwards;
}

.seccion-genero
.label-genres {
    cursor: pointer;
}

.seccion-genero
.label-genres 
+ .input-checkbox {
    display: none;
}

.container-genre-list {
    display: grid;
    grid-auto-rows: 2.5rem;
    /* clamp(tamaño mínimo, tamaño ideal, tamaño máximo)*/
    /* Explicación de un Grid responsivo sin media queries. Fuente: https://www.youtube.com/watch?v=El0OJ6h_2ZI*/
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));

    padding-top: 1rem;

    list-style: none;
}

.container-genre-list
.genre-list-item {
    padding: 0.7rem;
}

.container-genre-list
.genre-list-item
.icon {
    height: 0.75rem;
    width: 0.75rem;
}
/*
    SECCIÓN GÉNEROS.FIN
*/
/*
    SECCIÓN BLOG
*/
.seccion-blog {
    /* height: 40rem; */
    height: calc(100dvh - 10.75rem);
    width: 100%;

    margin: 0;
    padding: 0.25rem;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0.25rem;
    column-gap: 0.25rem;
}

.seccion-blog
.article {
    position: relative;

    overflow: hidden;
}

.seccion-blog
.main-article {
    grid-column: 1/2 ;
    grid-row: 1/4;

    border-radius: 8px;
}

.seccion-blog
.secondary-article {
    border-radius: 8px;
}

.seccion-blog
.article
.image-blog {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.seccion-blog
.main-article
.container-info {
    height: auto;
    min-height: fit-content;
    width: min(30rem, calc(100% - 1rem)); /* ORIGINALMENTE: 30rem*/
    
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;

    border-radius: 0 8px 0 8px;

    background-color: rgba(255, 255, 255, 0.3); /* TRANSPARENCIA ORIGINAL DE 0.1 */
    backdrop-filter: blur(5px);
}

.seccion-blog
.secondary-article
.container-info {
    height: auto;
    min-height: fit-content;
    width: min(20rem, calc(100% - 0.25rem)); /* ORIGINALMENTE: 20rem*/

    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    padding: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.35rem;

    border-radius: 0 8px 0 8px;

    background-color: rgba(255, 255, 255, 0.3); /* TRANSPARENCIA ORIGINAL DE 0.1 */
    backdrop-filter: blur(5px);
}

/* Artículo principal del blog */
.seccion-blog
.main-article
.container-info
.encabezado_2 {
    color: var(--color-cuaternario);
    font-family: var(--fuente-subencabezados);
    font-size: clamp(1rem, 1.75rem, 3rem);
    font-weight: var(--grosor-subencabezados_2);
}

.seccion-blog
.main-article
.container-info
.paragraph {
    font-size: clamp(1rem, 1.15rem, 1.75rem);
    font-weight: 500;
}

.seccion-blog
.main-article
.container-info
.nav-link {
    color: var(--color-cuaternario);
    font-weight: 700;
}

/* Artículos secundarios del blog */
.seccion-blog
.secondary-article
.container-info
.encabezado_2 {
    color: var(--color-cuaternario);
    font-family: var(--fuente-subencabezados);
    font-size: clamp(1rem, 1.10rem, 1.3rem);
    font-weight: var(--grosor-subencabezados_2);
}
/*
    SECCIÓN BLOG.FIN
*/
/*
    SECCIÓN GALERÍA !!! POR INCLUIR AÚN
*/
.galeria {
    width: 100%;
    margin: 0 auto;

    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(4370px, 100%), 1fr));
}
/*
    SECCIÓN GALERÍA.FIN
*/
@media (max-width: 920px) {
    .main
    .contenedor-boton {
        display: none;
    }

    .main
    .contenedor-imagenes {
        /* recurso con el objetivo de que el usuario pueda desplazarse con los dedos */
        overflow-x: auto;
    }

    .main
    .seccion-blog {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60% 40%;
        row-gap: 0.25rem;
    }

    .main
    .seccion-blog
    .main-article {
        grid-column: 1/4;
        grid-row: 1/2;
    }
}

/* animaciones */
@keyframes slideDown {
    from {
        height: 0;
        min-height: 0;
        max-height: 0;
        opacity: 0;
    }
    to {
        height: auto;
        min-height: 21rem;
        max-height: 56rem;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        height: auto;
        min-height: 21rem;
        max-height: 56rem;
        opacity: 1;
    }
    to {
        height: 0;
        min-height: 0;
        max-height: 0;
        opacity: 0;
    }
}
/* MAIN.FIN */